In [81]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import json

In [82]:
url = "http://api.icndb.com/jokes/15"

In [83]:
response = requests.get(url)

In [84]:
response.text

'{ "type": "success", "value": { "id": 15, "joke": "When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.", "categories": [] } }'

In [85]:
soup = BeautifulSoup(response.text)

In [86]:
soup

{ "type": "success", "value": { "id": 15, "joke": "When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.", "categories": [] } }

In [87]:
parse_json = json.loads(response.text)

In [88]:
parse_json

{'type': 'success',
 'value': {'id': 15,
  'joke': 'When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.',
  'categories': []}}

In [89]:
parse_json['value']

{'id': 15,
 'joke': 'When Chuck Norris goes to donate blood, he declines the syringe, and instead requests a hand gun and a bucket.',
 'categories': []}

In [90]:
sample = str(parse_json['value']['joke'])

In [91]:
ids = pd.read_csv('Test/ID.csv')

In [92]:
pd.read_csv("Test/sample.csv")

     ID                                               Joke
0    97  Chuck Norris doesn't throw up if he drinks too...
1    98  In the beginning there was nothing...then Chuc...
2    99  Chuck Norris has 12 moons. One of those moons ...
3   100  Chuck Norris grinds his coffee with his teeth ...
4   101  Archaeologists unearthed an old english dictio...
5   102  Chuck Norris ordered a Big Mac at Burger King,...
6   103  Chuck Norris and Mr. T walked into a bar. The ...
7   104  If you Google search &quot;Chuck Norris gettin...
8   105  Chuck Norris can drink an entire gallon of mil...
9   106  Little known medical fact: Chuck Norris invent...
10  107  Chuck Norris doesn't bowl strikes, he just kno...
11  108  The show Survivor had the original premise of ...
12  109  It takes Chuck Norris 20 minutes to watch 60 M...

In [116]:
ids

      ID
0      1
1      2
2      3
3      4
4      5
..   ...
468  495
469  496
470  497
471  498
472  499

[473 rows x 1 columns]

In [94]:
jokes = {"ID":[],
            "Joke":[]}
jokes["ID"].append(0)
jokes["Joke"].append(sample)

473

In [133]:
jokes = {"ID":[],
            "Joke":[]}
for i in range(len(ids["ID"])):
    page_no = ids["ID"][i]
    url = "http://api.icndb.com/jokes/{}".format(page_no)
    response = requests.get(url)
    parse_json = json.loads(response.text)
    joke = parse_json['value']['joke']
    jokes["ID"].append(page_no)
    jokes["Joke"].append(joke)
    if i%40==0:
        print("Processed {} pages".format(i))

Processed 0 pages
Processed 40 pages
Processed 80 pages
Processed 120 pages
Processed 160 pages
Processed 200 pages
Processed 240 pages
Processed 280 pages
Processed 320 pages
Processed 360 pages
Processed 400 pages
Processed 440 pages

In [134]:
joke_df = pd.DataFrame(jokes)

In [135]:
joke_df

      ID                                               Joke
0      1  Chuck Norris uses ribbed condoms inside out, s...
1      2  MacGyver can build an airplane out of gum and ...
2      3  Chuck Norris doesn't read books. He stares the...
3      4  If you ask Chuck Norris what time it is, he al...
4      5  Chuck Norris lost his virginity before his dad...
..   ...                                                ...
468  495  Chuck Norris doesn't needs try-catch, exceptio...
469  496         Chuck Norris went out of an infinite loop.
470  497  If Chuck Norris writes code with bugs, the bug...
471  498    Chuck Norris hosting is 101% uptime guaranteed.
472  499           Chuck Norris's keyboard has the Any key.

[473 rows x 2 columns]

In [139]:
joke_df.to_csv("submission.csv",index=False)

In [140]:
joke_df

      ID                                               Joke
0      1  Chuck Norris uses ribbed condoms inside out, s...
1      2  MacGyver can build an airplane out of gum and ...
2      3  Chuck Norris doesn't read books. He stares the...
3      4  If you ask Chuck Norris what time it is, he al...
4      5  Chuck Norris lost his virginity before his dad...
..   ...                                                ...
468  495  Chuck Norris doesn't needs try-catch, exceptio...
469  496         Chuck Norris went out of an infinite loop.
470  497  If Chuck Norris writes code with bugs, the bug...
471  498    Chuck Norris hosting is 101% uptime guaranteed.
472  499           Chuck Norris's keyboard has the Any key.

[473 rows x 2 columns]

In [150]:
import time
from tqdm import tqdm

In [ ]:
for i in tqdm(range(100)):
    time.sleep(3)

 19%|â–ˆâ–‰        | 19/100 [00:57<04:03,  3.00s/it]

In [147]:
0.01/2

0.005