In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('test.csv')

In [3]:
df

   x1  x2  spam/ham
0   0   0         0
1   1   1         1
2   2   0         0
3   2   1         0
4   2   1         0
5   1   1         1
6   0   0         0
7   0   1         0
8   0   1         1
9   0   0         1

In [9]:
X,y = df[['x1','x2']],df[['spam/ham']]

   spam/ham
0         0
1         1
2         0
3         0
4         0
5         1
6         0
7         0
8         1
9         1

In [4]:
from sklearn.naive_bayes import MultinomialNB

In [5]:
model = MultinomialNB()

In [12]:
model.fit(X,y)

/home/azhad56/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

array([[6., 3.],
       [2., 3.]])

In [3]:
class NBCustom:
    def fit(self,X,y):
        classes,counts = np.unique(y,return_counts=True)
        probs = {}
        for klass,counts in zip(classes,counts):
            prior = counts/len(y)
            info = {}
            probs[klass] = info
            info["prior"] = prior
            labels = {}
            info["labels"] = labels
            cut = X.iloc[y==klass]
            for label in X.columns:
                labels[label] = dict(zip(*np.unique(cut[label],return_counts=True)))
        self._probs = probs
    def predict_point(self,row):
        outcomes = []
        for klass in self._probs:
            info = self._probs[klass]
            outcome = 1
            outcome *= info["prior"]
            labels = info["labels"]
            for label in row.index:
                if row[label] in labels[label]:
                    outcome *= row[label][labels[label]]
                else:
                    outcome *= 0
            outcomes.append()
    def predict(self,X):
        result = []
        for index,row in X.iterrows:
            result.append(self.predict_point(row))
        return np.array(result)
    def score(X_test,y_test):
        yp = self.predict(X_test)
        return (yp==y_test).mean()

IndentationError: expected an indented block (<ipython-input-3-7869e6793ae4>, line 24)