In [69]:
import pandas as pd
from nltk.corpus import stopwords

In [70]:
data = pd.read_csv("../datasets/bayes/spam.csv", encoding="ISO-8859-1")

In [71]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [72]:
X, y = data.iloc[:, 1], data.iloc[:, 0]

In [73]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object

In [74]:
from sklearn.feature_extraction.text import CountVectorizer

min_df=10    it means we are ignoring the terms or words that have document frequency less than 10


max_df=1000  consider only 1000 features order by term frequency

In [75]:
model = CountVectorizer(max_features=1000, min_df=5,lowercase=True,stop_words=stopwords.words('english'),)

In [76]:
X_mod = model.fit_transform(X).todense()

In [77]:
X_mod[0].shape,X_mod.shape

((1, 1000), (5572, 1000))

In [78]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split

In [79]:
X_train, X_test, y_train, y_test = train_test_split(
...     X_mod, y, test_size=0.33, random_state=42)

In [80]:
m2 = BernoulliNB()

In [81]:
m2.fit(X_train, y_train)

BernoulliNB()

In [82]:
m2.score(X_test, y_test)

0.9836867862969005

In [83]:
X_mod.shape

(5572, 1000)

In [84]:
import pickle

In [85]:
with open("../lecture39/charm/nb.pickle","wb") as f:
    pickle.dump(m2,f)
with open("../lecture39/charm/vect.pickle","wb") as f:
    pickle.dump(model,f)