In [18]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [19]:
url = r"https://www.goodreads.com/quotes?page=0"
response = requests.get(url)
soup = BeautifulSoup(response.text)

In [20]:
quotes = soup.find_all("div",attrs={"class":"quote"})

In [21]:
# quotes

In [22]:
books=[]

In [23]:

for quote_items in quotes:
    quote_items = quote_items.find_next("div",attrs={"class":"quoteText"})
    quote = quote_items.text.strip().split('\n')[0]
    author = quote_items.span.text.strip()
    left = quote_items.find_next("div", attrs={"class" : "left"})
    li_tags_links = left.find_all("a")
    tags = [tag_link.text for tag_link in li_tags_links]
    quote_books={
        "quote" : quote,
        "author" : author,
        "tags" : tags
    }
    books.append(quote_books)

In [24]:
books_table = pd.DataFrame(books)

In [32]:
def process(url_link):
    response = requests.get(url_link)
    soup = BeautifulSoup(response.text)
    quotes = soup.find_all("div",attrs={"class":"quote"})
    books=[]
    for quote_items in quotes:
        quote_items = quote_items.find_next("div",attrs={"class":"quoteText"})
        quote = quote_items.text.strip().split('\n')[0]
        author = quote_items.span.text.strip()
        left = quote_items.find_next("div", attrs={"class" : "left"})
        li_tags_links = left.find_all("a")
        tags = [tag_link.text for tag_link in li_tags_links]
        quote_books={
            "quote" : quote,
            "author" : author,
            "tags" : tags
        }
        books.append(quote_books)
    return books

In [1]:
page = ["love","life","inspirational","Humor","Philosophy","God"]
url = r"https://www.goodreads.com/quotes/tag/{}?page={}"
chunk = []
for e in page:
    for i in range(1):
        print("Processing {} page {}".format(e,i))
        formatted_url = url.format(e,i)
        print(formatted_url)
        out = process(formatted_url)
        chunk.extend(out)

Processing love page 0
https://www.goodreads.com/quotes/tag/love?page=0

NameError: name 'process' is not defined

# Creating a dabase of each quotes

In [27]:
quote_table = pd.DataFrame(chunk)

In [28]:
love_table = quote_table[:300]
life_table = quote_table[300:600]
inspirational_table = quote_table[600:900]
Humor_table = quote_table[900:1200]
Philosophy_table = quote_table[1200:1500]
God_table = quote_table[1500:1800]

In [29]:
quote_table

,quote,author,tags
0,"“I'm selfish, impatient and a little insecure....",Marilyn Monroe,"[attributed-no-source, best, life, love, mista..."
1,“Be yourself; everyone else is already taken.”,Oscar Wilde,"[attributed-no-source, be-yourself, honesty, i..."
2,“Two things are infinite: the universe and hum...,Albert Einstein,"[attributed-no-source, human-nature, humor, in..."
3,"“So many books, so little time.”",Frank Zappa,"[books, humor]"
4,"“Be who you are and say what you feel, because...",Bernard M. Baruch,"[ataraxy, be-yourself, confidence, fitting-in,..."
...,...,...,...
175,“To be yourself in a world that is constantly ...,Ralph Waldo Emerson,"[accomplishment, attributed-no-source, be-your..."
176,“Here's to the crazy ones. The misfits. The re...,Rob Siltanen,"[advertising, apple, change, commercial, compu..."
177,"“Insanity is doing the same thing, over and ov...",Narcotics Anonymous,"[humor, insanity, life, misattributed-ben-fran..."
178,“I believe that everything happens for a reaso...,Marilyn Monroe,"[attributed-no-source, misattributed-marilyn-m..."
179,“Twenty years from now you will be more disapp...,"H. Jackson Brown Jr.,","[actions, disappointed, disappointment, dream,..."